.dark {
  .header {
    background: black;

    .header__logo {
      h3 {
        color: white;
      }
    }

    .header__search {
      input {
        background: black;
        border: 2px solid white;
        color: white;
      }

      button {
        background: white;
        color: black;
        border: 2px solid white;
      }
    }

    .header__menu {
      a {
        color: white;
      }

      button {
        background-color: white;
        color: black;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .switch-theme {
      background-color: white;

      .ant-switch-handle {
        &::before {
          background-color: black;
        }
      }

      .ant-switch-inner-checked {
        color: black;
      }
    }

    .page-search {
      color: white;
      border: 2px solid white;
      background: black;

      a {
        color: white;
      }
    }
  }

  .main {
    background-color: black;
    color: white;

    .main-container__present {
      .ant-collapse {
        background-color: black;

        .ant-collapse-expand-icon {
          color: white;
        }

        span {
          color: white;
        }
      }

      a {
        color: white;
      }
    }

    .main-container__table {
      .list {
        .active {
          color: white;
        }
      }
    }

    .main-container__plus {
      .spans {
        span {
          color: white;
        }
      }
    }

    .main-container__slider {
      &-content {
        .slide {
          box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
        }
      }
    }

    .main-container__plans {
      .spans {
        span {
          color: white;
        }
      }
    }
  }

  .footer {
    background-color: black;
  }

  .up {
    background-color: white;
    color: black;

    &:hover {
      background: inherit;
      color: white;
      border: 1px solid white;
      transform: scale(1.05);
    }
  }
}
