.Plans {
  min-height: 70vh;
  padding: 40px 0;

  .Title {
    font-size: var(--font-size-h1);
    color: var(--color-text-secondary);
    border-bottom: var(--border-width) solid var(--color-text-secondary);
    line-height: 100px;
    margin-bottom: 40px;
  }

  .Content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .Plans {
    .Title {
      line-height: normal;
    }
  }
}
