.Page {
  color: var(--color-text-primary);
  width: 100%;
  min-height: 100vh;
  font-size: var(--font-size-base);
  display: flex;
  justify-content: center;

  .Container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .Page {
    .Container {
      padding: 0 16px;
    }
  }
}

@media (max-width: 480px) {
  .Page {
    .Container {
      padding: 0 12px;
    }
  }
}
