.ant-modal-content {
  max-height: 750px;
  overflow: hidden;
  overflow-y: scroll;

  .ant-modal-body {
    p {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        height: 30px;
      }
    }

    .page-search__links {
      &-body {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
