.header {
  color: white;
  width: 100%;
  min-height: 90px;
  font-size: 16px;
  background-color: white;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .switch-theme {
      background-color: black;

      &:hover {
        background-color: gray;
      }
    }
  }

  &__logo {
    height: 50px;
    width: auto;
    color: black;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      transform: scale(1.03);
    }

    img {
      height: 150%;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      height: 40px;
      width: 250px;
      border-radius: 4px;
      border: 1px solid black;
      text-indent: 10px;
      font-size: 14px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.03);
      }
    }

    button {
      border-radius: 4px;
      height: 40px;
      width: 40px;
      border: 1px solid black;
      font-size: 16px;
      color: white;
      background: black;
      transition: 0.3s;

      &:hover {
        background: white;
        color: black;
        transform: scale(1.03);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      color: black;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        transform: scale(1.03);
        text-decoration: underline;
      }
    }

    button {
      height: 40px;
      width: 100px;
      border-radius: 10px;
      border: 1px solid black;
      color: white;
      font-size: 16px;
      background-color: black;
      transition: 0.3s;

      &:hover {
        transform: scale(1.03);
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
}
