.header {
  color: white;
  width: 100%;
  min-height: 90px;
  font-size: 16px;
  background-color: white;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .switch-theme {
      background-color: black;

      &:hover {
        background-color: gray;
      }
    }
  }

  &__logo {
    height: 50px;
    width: auto;
    color: black;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      transform: scale(1.03);
    }

    img {
      height: 150%;
    }
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      color: black;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        transform: scale(1.03);
        text-decoration: underline;
      }
    }

    button {
      background-color: black;
      color: white;
    }
  }
}
